@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
body
{
        background-image: url(./pic2.png);
        background-size: fixed;
}
.main
{
        width: 1510px;
        left: 11%;
        position: absolute;
}
.main h1
{
        font-family: 'Tillana', cursive;
        font-size: 55px;
}
.main h2
{
        font-family: 'Alkatra', cursive;
        line-height: 60px;
        color: white;
        font-size: 30px;
        text-align: left;
}
.a
{
        position: absolute;
        width: 100%;
        height: 1080px;
        left: 0%;
        top: 0%;
}
::-webkit-scrollbar
{
        width: 5px;
}
::-webkit-scrollbar-thumb
{
        background-color: lightblue;
        border-radius: 5px;
}
img
{
        width: 600px;
        float: right;

}