@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
body
{
  background-image: url(home.png);
  background-size: fixed;
}
nav {
  background-color: rgb(12, 11, 11);
  padding: 0px;
  border-radius: 5px;
  font-family: 'Signika', sans-serif;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content:space-between;
  margin: 0 auto;

}
nav .logo
{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 10px;
}
nav .logo h1
{
  display: flex;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: aqua;
}
nav .logo i
{
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: white;
}
nav .logo h1 a
{
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: aqua;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav ul li:hover a {
  color: #0085a1;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 200px;
  margin-bottom: 10px;
}

nav ul li ul li a {
  padding: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
}

nav ul li ul li a:hover {
  color: #0085a1;
}
.con
{
        font-family: 'Lato', sans-serif;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 1500px;
}
.con h1
{
        letter-spacing: 1px;
        word-spacing: 10px;
        font-size: 45px;
        color: white;
}
.con2
{
        width: 400px;
        top: 120%;
        height: 450px;
        position: absolute;
        left: 1%;
        background-color: #4d6266;
        text-align: left;
        border-radius: 10px;
}
.con22
{
        margin-left: 10%;
        top: 10%;
        position: absolute;
        width: 300px;
        letter-spacing: 2px;
        line-height: 30px;
        color: whitesmoke;
}
.con21
{
        background-color: #0085a1;
        width: 370px;
        height: 420px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        border-radius: 10px;
}
.con22 button
{
        border: #02ff9e solid 4px;
        outline: none;
        border-radius: 30px;
        height: 60px;
        width: 250px;
        align-items: center;
        font-weight: 10;
        letter-spacing: 2px;
        background-color: transparent;
        color: #fff;
}
.con22 button:hover
{
        cursor: pointer;
        background-color: #02ff9e;
        color: #000;
}



.con3
{
        width: 400px;
        top: 103%;
        height: 530px;
        position: absolute;
        left: 37%;
        background-color: #4d6266;
        text-align: left;
        border-radius: 10px;
}
.con32
{
        margin-left: 10%;
        top: 10%;
        position: absolute;
        width: 300px;
        letter-spacing: 2px;
        line-height: 30px;
        color: whitesmoke;
}
.con31
{
        background-color: #0085a1;
        width: 370px;
        height: 500px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        border-radius: 10px;
}
.con32 a
{
        text-decoration: none;
        color: #02ff9e;

}
.con32 button
{
        border: #02ff9e solid 4px;
        outline: none;
        border-radius: 30px;
        height: 60px;
        width: 250px;
        align-items: center;
        font-weight: 10;
        letter-spacing: 2px;
        background-color: #02ff9e;
        color: #000;
}
.con32 button:hover
{
        cursor: pointer;
        background-color: transparent;
        color: #fff;
}


.con4
{
        width: 400px;
        top: 120%;
        height: 450px;
        position: absolute;
        left: 74%;
        background-color: #4d6266;
        text-align: left;
        border-radius: 10px;
}
.con42
{
        margin-left: 10%;
        top: 10%;
        position: absolute;
        width: 300px;
        letter-spacing: 2px;
        line-height: 30px;
        color: whitesmoke;
}
.con41
{
        background-color: #0085a1;
        width: 370px;
        height: 420px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        border-radius: 10px;
}
.con42 button
{
        border: #02ff9e solid 4px;
        outline: none;
        border-radius: 30px;
        height: 60px;
        width: 250px;
        letter-spacing: 2px;
        background-color: transparent;
        color: #fff;
}

.con42 button:hover
{
        cursor: pointer;
        background-color: #02ff9e;
        color: #000;
}
h2
{
  font-size: 30px;
  color: black;
}